%p#notice= notice

-@comparison.comments_list.each do |comment|
  %p
    =comment.author
  %p
    =comment.text


= link_to "vote", 

= link_to "Leave a comment", new_comment_path(:proposal_id => @comparison.id.to_s)

= link_to 'Edit', edit_proposal_path(@comparison)
\|
= link_to 'Back', proposals_path
